data/scraper.db
data/scraper.db-journal
data/processed_json/

cron.log
*.log

event_debug.html

__pycache__/
*.py[cod]
*$py.class

venv/
env/
.venv/

.pytest_cache/

.DS_Store
.AppleDouble
.LSOverride

.vscode/
.idea/